html, body,ul,li,div {
  margin: 0;
  padding : 0;

}

li {
  list-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
